body {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    margin: 0.2em;
}

h2 {
    /* margin: 0.5em 0 0.25em; */
    font-size: 0.9em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 96%;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 3em;
}

button {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: rgb(245, 255, 245);
    border-radius: 30px;
    border: 2px solid black;
}

.builder {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.builder button {
    width: 80px;
}

.builder div {
    width: 60px;
    margin-right: 5px;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
  }

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls > * {
    margin: 0.5em;
}

#submit-grid,
#reset {
    width: 160px;
}

#color-picker {
    height: 50px;
    width: 50px;
}

footer {
    margin-top: 20%;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
}


@media screen and (max-width: 780px){
    h1 {
        font-size: 40px;
    }
}